.formContainer {
    background-color: #f9f9f9;
    border-radius: 8px;
}

.formWrapper {
    display: flex;
    flex-direction: column;
}

.formGrid {
    display: grid;
    gap: 20px;
    margin-bottom: 20px;
}

.grid3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid2 {
    grid-template-columns: repeat(2, 1fr);
}

.formActions {
    display: flex;
    gap: 10px;
}

.actionButton {
    flex: 1;
}
